/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: "#333";
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
